.weak_pass{font-weight:bold;color:grey}.medium_pass{font-weight:bold;color:#00f}.strong_pass{font-weight:bold;color:green}.short_pass{font-weight:bold;color:orange}

#bootloader_KkYAB{height:42px;}.bootloader_KkYAB{display:block!important;}